body {
  background-color: #FFFFFF;
  font-family: 'Libre Baskerville', serif;
  line-height: 1.1;
  font-weight: 400;
}

nav {
  padding-bottom: 10px;
}

h1 {
  font-size:2.2em;
  font-style:italic;
  line-height: normal;
  letter-spacing: 1pt;
  font-weight: normal;
}

nav a {
  text-decoration: underline;
  text-transform: lowercase;
  color: #000000;
}

nav a:hover, a:focus{
  background-color: #0D1A80;
  color:#FFFFFF;
}

a.skiplink{
  display: none;
}

a.skiplink:focus{
  display: inline;
}

.current{
  background-color: #0D1A80;
  text-transform: uppercase;
  color:#FFFFFF;
}

.post-title{
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom:20px;
}

.poem-body{
  width: 300px;
}

#container{
  max-width: 600px;
  position: relative;
}

#main{

}
